name: CI - Testes de API com Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write 

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar o JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven' 

      - name: Executar os testes com Maven
        run: mvn clean test || true

      - name: Listar arquivos para Debug (Verificar allure-results)
        if: always()
        run: |
          echo "Listando conteúdo de target/allure-results/ (deve ter 3 resultados)"
          ls -l target/allure-results/

      # --- [AQUI ESTÁ A CORREÇÃO] ---
      - name: Instalar o Allure CLI
        # Trocamos 'allure-action@v1' pela 'setup-allurectl@v1'
        if: always()
        uses: allure-framework/setup-allurectl@v1
      # --- [FIM DA CORREÇÃO] ---

      - name: Gerar Relatório Allure (via CLI)
        if: always()
        run: |
          echo "Gerando o relatório com o Allure CLI..."
          # Este comando agora funcionará pois o step anterior instalou o 'allure'
          allure generate target/allure-results -o allure-report --clean

      - name: Deploy do Relatório para GitHub Pages
        if: (always() && github.ref == 'refs/heads/main')
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-report
          force_orphan: true