name: CI - Testes de API com Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write 

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar o JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven' 

      - name: Executar os testes com Maven
        run: mvn clean test || true

      - name: Listar arquivos para Debug (Verificar allure-results)
        if: always()
        run: |
          echo "Listando conteúdo de target/allure-results/"
          ls -l target/allure-results/

      - name: Gerar Relatório Allure (via Docker Oficial)
        if: always()
        run: |
          echo "Gerando o relatório a partir dos arquivos..."
          docker run --rm \
            -v $(pwd)/target/allure-results:/app/allure-results \
            -v $(pwd)/allure-report:/app/allure-report \
            frankescobar/allure-docker-service \
            allure generate /app/allure-results -o /app/allure-report --clean

      # --- [A NOVA CORREÇÃO ESTÁ AQUI] ---
      - name: Corrigir permissões da pasta do Relatório
        if: always()
        run: |
          echo "Corrigindo permissões (owner) da pasta allure-report..."
          # Dá a propriedade da pasta para o usuário 'runner'
          sudo chown -R $USER:$USER allure-report
      # --- [FIM DA CORREÇÃO] ---

      - name: Deploy do Relatório para GitHub Pages
        if: (always() && github.ref == 'refs/heads/main')
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report
          force_orphan: true