name: CI - Testes de API com Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar o JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Executar os testes com Maven
        # Adicionamos '|| true' para que este step não "falhe" o build
        # A falha será capturada pelo Allure
        run: mvn test || true

      # --- NOVO STEP: Gerar o Relatório Allure ---
      - name: Gerar Relatório Allure
        # [AQUI ESTÁ A MUDANÇA]
        if: always() # Executa este step mesmo se o 'mvn test' falhar
        uses: simple-elf/allure-report-action@v1.7
        with:
          results_path: allure-results
          report_path: allure-report

      # --- NOVO STEP: Salvar o Relatório como Artefato ---
      - name: Salvar Artefato do Relatório Allure
        # [AQUI ESTÁ A MUDANÇA]
        if: always() # Executa este step mesmo se o 'mvn test' falhar
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report

